@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to Student Record Viewer</h1>
</div>

<div class="alert alert-success" role="alert">
    The email is successfuly confirmed.
</div>